<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.refillCard.dao.GoodsRelateFuluMapper">
  <resultMap id="BaseResultMap" type="com.mc.refillCard.entity.GoodsRelateFulu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_id" jdbcType="BIGINT" property="goodId" />
    <result column="nominal" jdbcType="VARCHAR" property="nominal" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap id="BaseVoResultMap" type="com.mc.refillCard.vo.GoodsRelateFuluVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_id" jdbcType="BIGINT" property="goodId" />
    <result column="nominal" jdbcType="VARCHAR" property="nominal" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, product_id, good_name, good_id, nominal, remake, type, status
  </sql>
  <sql id="BaseVo_Column_List">
    id, user_id, product_id, good_name, good_id, nominal, remake, type, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_relate_fulu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByGoodId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods_relate_fulu
     where good_id = #{goodId,jdbcType=BIGINT}
    and user_id = #{userId,jdbcType=BIGINT}
    and status = 1
  </select>
    <select id="findPageVoByExample" resultMap="BaseVoResultMap">
      select
      <include refid="BaseVo_Column_List" />
      from goods_relate_fulu
      where user_id = #{userId,jdbcType=BIGINT}
      <if test="goodName != null">
        and goodName like concat('%',#{goodName,jdbcType=VARCHAR},'%')
      </if>
      <if test="goodId != null">
        and good_id like concat('%',#{goodId,jdbcType=BIGINT},'%')
      </if>
      <if test="type != null">
        and type = #{type,jdbcType=INTEGER}
      </if>
      order by id desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_relate_fulu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mc.refillCard.entity.GoodsRelateFulu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_relate_fulu (user_id, product_id, good_name, 
      good_id, nominal, remake, 
      type, status)
    values (#{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{goodName,jdbcType=VARCHAR}, 
      #{goodId,jdbcType=BIGINT}, #{nominal,jdbcType=VARCHAR}, #{remake,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mc.refillCard.entity.GoodsRelateFulu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_relate_fulu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="goodName != null">
        good_name,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="nominal != null">
        nominal,
      </if>
      <if test="remake != null">
        remake,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="goodName != null">
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=BIGINT},
      </if>
      <if test="nominal != null">
        #{nominal,jdbcType=VARCHAR},
      </if>
      <if test="remake != null">
        #{remake,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    <insert id="batchAdd">
      insert into goods_relate_fulu (user_id,
      good_id, nominal,
      type, status)
      values
      <foreach collection="goodsRelateFulus" item="item" index="index" separator =",">
       (#{item.userId,jdbcType=BIGINT},
      #{item.goodId,jdbcType=BIGINT}, #{item.nominal,jdbcType=VARCHAR},
      #{item.type,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER})
      </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mc.refillCard.entity.GoodsRelateFulu">
    update goods_relate_fulu
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="goodName != null">
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=BIGINT},
      </if>
      <if test="nominal != null">
        nominal = #{nominal,jdbcType=VARCHAR},
      </if>
      <if test="remake != null">
        remake = #{remake,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mc.refillCard.entity.GoodsRelateFulu">
    update goods_relate_fulu
    set user_id = #{userId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      good_name = #{goodName,jdbcType=VARCHAR},
      good_id = #{goodId,jdbcType=BIGINT},
      nominal = #{nominal,jdbcType=VARCHAR},
      remake = #{remake,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>