<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.refillCard.dao.UserRelateMapper">
  <resultMap id="BaseResultMap" type="com.mc.refillCard.entity.UserRelate">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="agiso_user_id" jdbcType="VARCHAR" property="agisoUserId" />
    <result column="fuli_app_key" jdbcType="VARCHAR" property="fuliAppKey" />
    <result column="fulu_sercret" jdbcType="VARCHAR" property="fuluSercret" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="platform" jdbcType="INTEGER" property="platform" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
  </resultMap>
  <resultMap id="BaseVoResultMap" type="com.mc.refillCard.vo.UserRelateVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="agiso_user_id" jdbcType="VARCHAR" property="agisoUserId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="platform" jdbcType="INTEGER" property="platform" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, access_token, agiso_user_id, fuli_app_key, fulu_sercret, user_id, platform, balance
  </sql>
  <sql id="BaseVo_Column_List">
    ur.id,ur.access_token,ur.agiso_user_id,ur.fuli_app_key,ur.fulu_sercret,ur.user_id,ur.platform,
    u.balance,u.user_name,u.create_emp as nick_name,u.phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_relate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByPlatformUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_relate
    where agiso_user_id = #{platformUserId,jdbcType=VARCHAR}
  </select>
  <select id="findPageVoByExample" resultMap="BaseVoResultMap">
    SELECT
    <include refid="BaseVo_Column_List" />
    FROM user_relate ur
    left join user u on u.id = ur.user_id
    where u.status !=0
    <if test="userName != null">
      and (u.user_name like concat('%',#{userName,jdbcType=VARCHAR},'%')
      or u.create_emp like concat('%',#{userName,jdbcType=VARCHAR},'%'))
    </if>
    <if test="platform != null">
     and ur.platform = #{platform}
    </if>
    order by u.id desc
  </select>
    <select id="findAll" resultMap="BaseVoResultMap">
      SELECT
      <include refid="BaseVo_Column_List" />
      FROM user_relate ur
      left join user u on u.id = ur.user_id
      where u.status !=0
      order by u.id desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_relate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mc.refillCard.entity.UserRelate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_relate (access_token, agiso_user_id, fuli_app_key, 
      fulu_sercret, user_id, platform, 
      balance)
    values (#{accessToken,jdbcType=VARCHAR}, #{agisoUserId,jdbcType=VARCHAR}, #{fuliAppKey,jdbcType=VARCHAR}, 
      #{fuluSercret,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{platform,jdbcType=INTEGER}, 
      #{balance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mc.refillCard.entity.UserRelate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_relate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="agisoUserId != null">
        agiso_user_id,
      </if>
      <if test="fuliAppKey != null">
        fuli_app_key,
      </if>
      <if test="fuluSercret != null">
        fulu_sercret,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="agisoUserId != null">
        #{agisoUserId,jdbcType=VARCHAR},
      </if>
      <if test="fuliAppKey != null">
        #{fuliAppKey,jdbcType=VARCHAR},
      </if>
      <if test="fuluSercret != null">
        #{fuluSercret,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mc.refillCard.entity.UserRelate">
    update user_relate
    <set>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="agisoUserId != null">
        agiso_user_id = #{agisoUserId,jdbcType=VARCHAR},
      </if>
      <if test="fuliAppKey != null">
        fuli_app_key = #{fuliAppKey,jdbcType=VARCHAR},
      </if>
      <if test="fuluSercret != null">
        fulu_sercret = #{fuluSercret,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mc.refillCard.entity.UserRelate">
    update user_relate
    set access_token = #{accessToken,jdbcType=VARCHAR},
      agiso_user_id = #{agisoUserId,jdbcType=VARCHAR},
      fuli_app_key = #{fuliAppKey,jdbcType=VARCHAR},
      fulu_sercret = #{fuluSercret,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      platform = #{platform,jdbcType=INTEGER},
      balance = #{balance,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>